@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Noto+Color+Emoji&family=Noto+Sans+Thai&display=swap');

#root {
  font-family: 'Noto Sans Thai', 'Kosugi', 'Noto Color Emoji', sans-serif;
  margin: 8px;
}

html::-webkit-scrollbar {
  width: 0px;
}

.list {
	list-style-type: decimal;
	list-style-position: inside;
}

.list li {
	margin: 1em;
}

.list::-webkit-scrollbar {
	width: 7px;
}

.list::-webkit-scrollbar-track {
	border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
	background: rgb(146, 146, 146);
	border-radius: 10px;
}

.list::-webkit-scrollbar-thumb:hover {
	background: #535353;
}
