@import url('https://fonts.googleapis.com/css2?family=Kosugi&family=Noto+Color+Emoji&family=Sarabun&display=swap');

#root {
  font-family: 'Sarabun', 'Kosugi', 'Noto Color Emoji', sans-serif;
  margin: 8px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
}

html::-webkit-scrollbar {
  width: 0px;
}

.list {
  list-style-type: decimal;
  list-style-position: inside;
}

.list li {
  margin: 1em;
}

.list::-webkit-scrollbar {
  width: 7px;
}

.list::-webkit-scrollbar-track {
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb {
  background: rgb(146, 146, 146);
  border-radius: 10px;
}

.list::-webkit-scrollbar-thumb:hover {
  background: #535353;
}

@media (max-width: 1124px) {
  .player {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }

  .player iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
